header {
  width: 100%;

  .nav {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;

    &__logo {
      cursor: pointer;
    }

    &__list {
      display: flex;
      gap: 20px;
      list-style-type: none;
      align-items: center;

      &--item {
        text-transform: uppercase;

        &-btn {
          @extend %btn;
        }

        &-link {
          text-decoration: none;
          &:hover {
            color: red;
          }
        }

        & > img {
          width: 58px;
          height: 58px;
          padding: 18px;
          border-radius: 100px;
          background: #f5f5f5;
        }
        #btn{
            border: none;
            background-color: #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
      }
    }
    .menu {
      width: 45px;
      height: 40px;
      display: flex;
      flex-direction: column;
      display: none;
      

      span {
        width: 40px;
        height: 10px;
        background-color: #000;
        margin: 5px;
        border-radius: 10px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .nav {
      &__list {
        display: none;
      }
        .menu{
        display: flex;
      }
    }
  }
}
